<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/signUp.css" />

		<title>Sign Up</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-xl bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">Library</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</nav>
		<div class="details">
			<h4>Enter your details here</h4>
			<form method="post" action="/signup">
				<div class="input-group">
					<div class="form-floating">
						<input
							type="text"
							class="form-control"
							id="name"
							placeholder="full name"
							name="fullname"
							required
						/>
						<label for="fullname">Full Name</label>
					</div>
				</div>
				<div class="input-group">
					<span class="input-group-text">@</span>
					<div class="form-floating">
						<input
							type="text"
							class="form-control"
							id="username"
							placeholder="Username"
							name="username"
							required
						/>
						<label for="username">Username</label>
					</div>
				</div>
				<div class="form-floating input-group">
					<input
						type="password"
						class="form-control"
						id="password"
						placeholder="Password"
						name="password"
					/>
					<label for="password">Password</label>
				</div>
				<div class="col-auto">
					<span id="passwordHelpInline" class="form-text">
						Must be 8-20 characters long.
					</span>
				</div>
				<div class="form-floating input-group">
					<input
						type="password"
						class="form-control"
						id="passwordC"
						placeholder="Password"
						name="passwordC"
						required
					/>
					<label for="passwordC">Re-Enter Password to confirm</label>
				</div>
				<div class="form-floating choice input-group">
					<select class="form-select" id="type" name="type">
						<option selected>Client</option>
						<option value="1">Admin</option>
					</select>
					<label for="type">Make Account as: </label>
				</div>
				<button class="btn btn-primary" type="submit" >Create Account</button>
			</form>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	</body>
</html>
